#include "resource.h"
IDR_MENU MENU DISCARDABLE 
BEGIN
	POPUP "Sample"
	BEGIN
	    MENUITEM "New", IDM_TS_NEW
	    MENUITEM "Open", IDM_TS_OPEN
		MENUITEM "Save", IDM_TS_SAVE
		MENUITEM "Save As", IDM_TS_SAVEAS
	END
	POPUP "Classification"
	BEGIN
		MENUITEM "New", IDM_C_NEW
	    MENUITEM "Open", IDM_C_OPEN
		MENUITEM "Save", IDM_C_SAVE
		MENUITEM "Save As", IDM_C_SAVEAS
	END
	POPUP "Stolps"
	BEGIN
		MENUITEM "New", IDM_S_NEW
	    MENUITEM "Open", IDM_S_OPEN
		MENUITEM "Save", IDM_S_SAVE
		MENUITEM "Save As", IDM_S_SAVEAS
	END
	POPUP "Edit"
	BEGIN
		MENUITEM "Set Stolp", IDM_SET_STOLP
		MENUITEM "Unset Stolp", IDM_UNSET_STOLP
		MENUITEM "Delete", IDM_DELETE
	END
	POPUP "Class"
	BEGIN
		MENUITEM "Select", IDM_Select
		MENUITEM SEPARATOR
	    MENUITEM "Black circle", IDM_Black_circle
		MENUITEM "Black square", IDM_Black_square
		MENUITEM "Black cross", IDM_Black_cross
		MENUITEM "Red circle", IDM_Red_circle
		MENUITEM "Red square", IDM_Red_square
		MENUITEM "Red cross", IDM_Red_cross
		MENUITEM "Green circle", IDM_Green_circle
		MENUITEM "Green square", IDM_Green_square
		MENUITEM "Green cross", IDM_Green_cross
		MENUITEM "Blue circle", IDM_Blue_circle
		MENUITEM "Blue square", IDM_Blue_square
		MENUITEM "Blue cross", IDM_Blue_cross
	END
	POPUP "Alghoritms"
	BEGIN
		MENUITEM "Quality rating", IDM_QualityRating
		MENUITEM "Add stolp", IDM_AddStolp
		MENUITEM "Specify stolps", IDM_SpecifyStolps
		MENUITEM "First local max", IDM_FirstLocalMax
		MENUITEM "Next local max", IDM_NextLocalMax
		MENUITEM "Unite clusters", IDM_UniteClusters
	END
END
