## package has dynamic library


##import(cluster)
##importFrom(cluster, fanny) 

importFrom(cluster, fanny)

## and one and only one core function

export(fris_class)
export(fris_tax)

export(fris_stolps)
export(clustersplot)
useDynLib(ftdr)
